<!-- CONTENT TABLE // -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top" class="textContent">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="total-split">
                <tr>
                    <th align="right" width="50%">Sub-total:</th>
                    <td align="right">&pound;&thinsp;X.XX</td>
                </tr>
                <tr>
                    <th align="right" width="50%">Discount:</th>
                    <td align="right">&pound;&thinsp;X.XX</td>
                </tr>
                <tr>
                    <th align="right" width="50%">VAT:</th>
                    <td align="right">&pound;&thinsp;X.XX</td>
                </tr>
                <tr>
                    <th align="right" width="50%" class="lastLine">Delivery:</th>
                    <td align="right" class="lastLine"><b>FREE</b></td>
                </tr>
            </table>
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="bordered--top">
                <tr>
                    <th align="right" width="50%" class="font-large">Total:</th>
                    <td align="right" class="font-large">&pound;&thinsp;X.XX</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
