<!-- CONTENT TABLE // -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="nestedContainer">
    <tr>
        <td valign="midle" align="center" class="nestedContainerCell bottomShim">
            <table border="0" cellpadding="0" cellspacing="0" width="290" class="flexibleContainer">
                <tr>
                    <td valign="top">
                        {% include "../order-elem/rewardsPoint.html" %}
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="270" class="flexibleContainer">
                <tr>
                    <td valign="top" style="padding-left:20px;">
                        {% include "./basketTotal.html" %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
