// Framework
$flexibleContainerCell__pad     : 20px;
$imageContent__pad              : 20px;
$imageSocial__pad               : 20px;
$nestedContainerCell__pad       : 20px;

// Generic
$bodyTable__bgc                 : #F5F5F5;
$bodyCell__pad                  : 40px;
$bodyCell__pad--small           : 10px;

$emailBody__bgc                 : #FFFFFF;
$emailBody__border              : 1px solid #DDDDDD;
$emailBody__border-radius       : 4px;

$header__fz                     : 20px;
$header__color                  : #202020;
$header__ff                     : Helvetica;
$header__lh                     : 125%;
$header__align                  : left;

$textContent__color             : #404040;
$textContent__ff                : Helvetica;
$textContent__fz                : 14px;
$textContent--info__fz          : 12px;
$textContent__lh                : 125%;
$textContent__align             : left;
$textContent__pad               : 20px;
$textContent__pad--small        : 10px;

$link__color                    : #2C9AB7;

$nestedContainer__bgc           : #E5E5E5;
$nestedContainer__border        : 1px solid #CCCCCC;

$emailbutton__bgc               : #2C9AB7;
$emailbutton__border-radius     : 4px;

$buttonContent__color           : #FFFFFF;
$buttonContent__ff              : Helvetica;
$buttonContent__fz              : 14px;
$buttonContent__fw              : 400;
$buttonContent__lh              : 100%;
$buttonContent__pad             : 5px;
$buttonContent__align           : center;

$buttonContent-link__pad--small : 10px;
$buttonContent-link__color      : #FFFFFF;

$socialIconLink__pad            : 15px;
$socialIconLink__pad            : 15px;

$highlight__bgc                 : #E5E5E5;
$highlight__pad                 : 15px;