.flexibleContainer{
    float: left;
}
.flexibleContainerCell {
    padding-top: $flexibleContainerCell__pad;
    padding-right: $flexibleContainerCell__pad;
    padding-left: $flexibleContainerCell__pad;
}

.flexibleImage {
    height: auto;
}

.bottomShim {
    padding-bottom: 20px;
}

.imageContent,
.imageContentLast {
    padding-bottom: $imageContent__pad;
}

.nestedContainerCell {
    padding-top: $nestedContainerCell__pad;
    // padding-right: $nestedContainerCell__pad;
    // padding-left: $nestedContainerCell__pad;
}

.highlight{
    background-color: $highlight__bgc;
    padding-top: $highlight__pad;
    padding-right: $highlight__pad;
    padding-left: $highlight__pad;
}
