body,
#bodyTable {
    background-color: $bodyTable__bgc;
    font-family: $textContent__ff;
    font-size: $textContent__fz;
    color: $textContent__color;
}

#bodyCell {
    padding-top: $bodyCell__pad;
    padding-bottom: $bodyCell__pad;
}

#emailBody {
    background-color: $emailBody__bgc;
    border: $emailBody__border;
    border-collapse: separate;
    border-radius: $emailBody__border-radius;
}

h1, h2, h3,
h4, h5, h6 {
    color: $header__color;
    font-family: $header__ff;
    font-size: $header__fz;
    line-height: $header__lh;
    text-align: $header__align;
}

h1{
    font-weight: normal;
    font-size: $header__fz--h1;
    line-height: $header__lh--h1;
}

th{
    font-family: $header__ff;
}

img{
    max-width: 100%;
}
a{
    color: $link__color;
    &:hover,
    &:visited{
        color: $link__color--hover;
    }
}

.font-large{
    font-size: $productPrice__fz;
}
.line{
    display: block;
    line-height: 130%;
}
.lastLine{
    padding-bottom:10px !important;
}

.bordered tr{
    border: $nestedContainer__border;
}
.bordered--top{
    border-top: $nestedContainer__border;
    td{
         padding-top: $default__pad;
    }
}

.last-table{
    padding-left: 10px;
}

.headContent{
    color: $header__color;
    font-family: $header__ff;
    font-size: $header__fz;
    line-height: $header__lh;
    text-align: $header__align;
    padding-bottom: $bodyCell__pad;
}
.headContent p{
    color: $textContent__color;
    font-family: $textContent__ff;
    font-size: $textContent__fz;
    line-height: $textContent__lh;
    margin: 0;
}

.textContent,
.textContentLast {
    color: $textContent__color;
    font-family: $textContent__ff;
    font-size: $textContent__fz;
    line-height: $textContent__lh;
    text-align: $textContent__align;
    padding-bottom: $textContent__pad;
}
.textContent--button{
    text-align: right;
    padding-top: $buttonContent__pad;
    padding-bottom: 0;
    padding-right: $buttonContent__pad;
}
.textContent--info{
    font-size: $textContent--info__fz;
    text-align: center;
}

.imageSocial a,
.imageContent a {
    text-decoration: none;
}

.preHeader {
    width: 50%;
    font-size: 11px;
    vertical-align: top;
}
.preHeaderLast{
    text-align: right;
}

.textContent a,
.textContentLast a {
    color: $link__color;
    text-decoration: underline;
}

.emailButton {
    background-color: $emailbutton__bgc;
    border-collapse: separate;
    border-radius: $emailbutton__border-radius;
}
.emailButton:hover {
    background-color: $emailbutton__bgc--hover;
}

.buttonContent {
    color: $buttonContent__color;
    font-family: $buttonContent__ff;
    font-size: $buttonContent__fz;
    font-weight: $buttonContent__fw;
    line-height: $buttonContent__lh;
    text-align: $buttonContent__align;
}

.buttonContent a {
    color: $buttonContent-link__color;
    display: block;
    padding: $buttonContent__pad * 1.5 $buttonContent__pad * 2;
    text-decoration: none;
}

.imageSocial{
    padding-top: $imageSocial__pad;
    padding-bottom: $imageSocial__pad;
}
.socialIconLink{
    padding-right: $socialIconLink__pad;
}

.textInfo{
    color: $textContent__color-light;
    font-family: $textContent__ff;
    font-size: $textContent--info__fz;
    line-height: $textContent--info__lh;
    padding-top: 1.5*$textContent--info__fz;
}


