<table class="productItem flexibleContainer"  width="140">
    <tr>
        <td class="nestedContainerCell">
            <table border="0" cellpadding="0" cellspacing="0" align="center" class="flexibleContainer" width="100%">
                <tr>
                    <td>
                        <img src="/images/products/{{item.image}}" alt="" width="70" height="105" class="productThumb">
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                            <span class="line"><a href="#">{{item.title}}</a></span>
                            <span class="line author">{{item.author}}</span>
                            <span class="line">{{item.details.formats[0]}}</span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>