{% extends "base.html" %}
    {% set title = "Email - starter" %}

{% block preheader %}
    {% set link = "#" %}
    {% include "../partials/generic/preheader.html" %}
{% endblock %}

{% block header %}

    {% include "../partials/generic/logo.html" %}

    {% include "../partials/generic/doodle.html" %}

    {% include "../partials/order-confirm-heading.html" %}

{% endblock %}

{% block content %}

    {% include "../partials/order/order-recap.html" %}

    {% include "../partials/order/payement-recap.html" %}

    {% include "../partials/order/addresses-recap.html" %}

    {% include "../partials/order/postage-and-billing-recap.html" %}

    {% for faq in faqs %}
        {% include "../partials/generic/FAQ-info.html" %}
    {% endfor %}

    {% include "../partials/generic/gallery.html" %}

    <img src="http://maps.googleapis.com/maps/api/staticmap?&size=600x260&maptype=terrain&markers=size:mid|color:0xf57b20|Manchester,UK|icon:http://rbob1.blackwell.co.uk:81/assets/images/map_home_marker.png&markers=size:mid|color:0x002d62|London,UK|icon:http://rbob1.blackwell.co.uk:81/assets/images/map_shop_marker.png&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry.fill|color:0xfafde9&&style=element:labels|visibility:off&style=feature:water|hue:0xdff8ff&key=AIzaSyDGWCdDma4yvGb2kx1xGQ9_LKY_9enbZrI" alt="">
{% endblock %}

{% block footer %}

    {% include "../partials/generic/contact-us.html" %}

    {% include "../partials/generic/social.html" %}

    {% include "../partials/generic/legal.html" %}

    {% include "../partials/generic/note.html" %}

{% endblock %}
